In [11]:
import pandas as pd
from pandas_datareader import data as pdr
import numpy as np
import datetime as dt
import quandl
quandl.ApiConfig.api_key = "3Yhxyw1igtdzou2yNU4p"

In [14]:
tickers = ['SPY','^AEX', '^HSI', 'RDSA.AS', 'EUR=X', 'HKDEUR=X']

data = pdr.get_data_yahoo(tickers, start='2010-01-01', end=dt.date.today())['Close']
data['euribor'] = quandl.get('BOF/QS_D_IEUTIO1A', start_date='2010-1-1', end_date=dt.date.today())

data.tail()

Symbols,SPY,^AEX,^HSI,RDSA.AS,EUR=X,HKDEUR=X,euribor
Date,,,,,,,
2020-04-20,281.589996,512.760010,24330.019531,15.800000,0.92040,0.118751,NaN
2020-04-21,273.040009,495.760010,23793.550781,15.048000,0.92111,0.118833,NaN
2020-04-22,279.100006,509.619995,23893.359375,15.984000,0.92510,0.119362,NaN
2020-04-23,279.079987,512.729980,23977.320312,16.521999,NaN,NaN,NaN
2020-04-24,279.399994,508.380005,23831.330078,16.365999,0.92640,0.119530,NaN

In [45]:
data = data.interpolate(method='time', axis=0, limit_direction='both')
data.tail()

Symbols,SPY,^AEX,^HSI,RDSA.AS,EUR=X,HKDEUR=X,euribor
Date,,,,,,,
2020-04-20,281.589996,512.760010,24330.019531,15.800000,0.92040,0.118751,-0.518
2020-04-21,273.040009,495.760010,23793.550781,15.048000,0.92111,0.118833,-0.518
2020-04-22,279.100006,509.619995,23893.359375,15.984000,0.92510,0.119362,-0.518
2020-04-23,279.079987,512.729980,23977.320312,16.521999,0.92575,0.119446,-0.518
2020-04-24,279.399994,508.380005,23831.330078,16.365999,0.92640,0.119530,-0.518

In [46]:
data.columns = ['SPY', 'AEX', 'HSI', 'RSDS.AS', 'USDEUR', 'HKDEUR', 'EURIBOR']

In [47]:
data.to_csv('dataset.csv')