In [6]:
import yfinance as yf
import pandas

In [19]:
stock_list = ['AAPL', 'MSFT', 'AMZN', 'PEP', 'V', 'PG', 'MA', 'INTC', 'HD', 'T']
data = yf.download(stock_list, start="2012-01-01", end="2020-05-24")

[*********************100%***********************]  10 of 10 completed

In [24]:
data = data['Adj Close']
data

,AAPL,AMZN,HD,INTC,MA,MSFT,PEP,PG,T,V
Date,,,,,,,,,,
2012-01-03,50.857235,179.029999,35.084248,19.025110,32.629364,21.959635,52.166885,51.265831,19.200312,22.426382
2012-01-04,51.130558,177.509995,35.583790,19.467018,31.555799,22.476425,52.433994,51.242809,19.231915,22.025707
2012-01-05,51.698215,177.610001,35.875191,19.691841,31.347670,22.706108,52.025490,51.028008,19.212955,22.191206
2012-01-06,52.238651,182.610001,35.966774,19.575548,30.503506,23.058842,51.373375,50.905285,19.033392,21.929903
2012-01-09,52.155792,178.559998,35.991753,19.746109,30.761475,22.755325,51.640503,51.120060,19.020563,21.753525
...,...,...,...,...,...,...,...,...,...,...
2020-05-18,314.959991,2426.260010,245.350006,59.919998,289.899994,184.396439,135.520004,116.209999,29.450001,191.380005
2020-05-19,313.140015,2449.330078,238.100006,60.290001,290.730011,183.119995,131.729996,112.440002,28.959999,189.360001
2020-05-20,319.230011,2497.939941,238.190002,63.099998,298.799988,185.660004,131.259995,113.279999,29.590000,193.860001
2020-05-21,316.850006,2446.739990,240.880005,61.980000,294.260010,183.429993,130.210007,111.620003,29.770000,190.619995
2020-05-22,318.890015,2436.879883,241.880005,62.259998,294.910004,183.509995,130.479996,112.599998,29.879999,190.860001

In [25]:
data.isna().sum()

AAPL    0
AMZN    0
HD      0
INTC    0
MA      0
MSFT    0
PEP     0
PG      0
T       0
V       0
dtype: int64